html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Microsoft JhengHei";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  position: relative;
}

.container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.navSide-icon {
  position: absolute;
  top: 130px;
  left: 350px;
  font-size: 24px;
  background-color: #3498db;
  padding: 20px 2px;
  color: #fff;
  border-radius: 0 4px 4px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1000;
}

.navSide-icon a {
  color: #34495e;
}

.navSide {
  width: 350px;
  z-index: 1000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: 0;
  bottom: 0;
  position: absolute;
}

.navSide .navSide-header {
  background-color: #3498db;
  padding: 10px 20px;
  position: relative;
}

.navSide .navSide-header h2 {
  float: left;
}

.navSide .navSide-header P {
  float: right;
  font-size: 14px;
}

.navSide .navSide-header small {
  float: right;
  display: none;
}

.navSide .navSide-header span {
  color: #f1c40f;
  font-size: 20px;
}

.navSide .navSide-header .navSide-input {
  position: relative;
  margin-top: 10px;
}

.navSide .navSide-header .navSide-input input {
  width: 100%;
  border-radius: 20px;
  outline: 0;
  border: 0;
  padding: 10px;
}

.navSide .navSide-header .navSide-input label {
  cursor: pointer;
}

.navSide .navSide-header .navSide-input i {
  position: absolute;
  right: 12px;
  top: 10px;
  font-size: 20px;
}

.navSide .navSide-header #county {
  border: 0;
  outline: 0;
  padding: 5px 10px;
  border-radius: 20px;
  width: 49%;
  text-align: center;
}

.navSide .navSide-header #town {
  border: 0;
  outline: 0;
  padding: 5px 10px;
  border-radius: 20px;
  width: 49%;
  text-align: center;
}

.navSide .navSide-body {
  overflow-y: scroll;
  height: 80vh;
}

.navSide .navSide-body .navSide-item {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #34495e;
  background-color: #fff;
}

.navSide .navSide-body .navSide-item p {
  padding: 4px 0;
}

.navSide .navSide-body .navSide-item .child, .navSide .navSide-body .navSide-item .adult {
  width: 45%;
  border: 0;
  border-radius: 30px;
  padding: 4px 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  outline: 0;
  cursor: pointer;
}

.hide {
  width: 0;
  overflow: hidden;
}

.reduce {
  left: 0;
}

.mapClass {
  max-width: calc( 100% - 350px);
  height: 100%;
  -webkit-transform: translateX(350px);
          transform: translateX(350px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.zoom {
  max-width: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.loader {
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #33CCFF;
}

.loader .loader-body {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid 	#77FFEE;
  -webkit-animation: loading 1s linear infinite;
          animation: loading 1s linear infinite;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .navSide {
    width: 220px;
  }
  .mapClass {
    max-width: calc( 100% - 220px);
    height: 100%;
    -webkit-transform: translateX(220px);
            transform: translateX(220px);
  }
}

@media (max-width: 420px) {
  .navSide {
    width: 150px;
  }
  .mapClass {
    max-width: calc( 100% - 150px);
    height: 100%;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
}
/*# sourceMappingURL=all.css.map */