@import "./reset.scss";
* {
    font-family: "Microsoft JhengHei";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    max-width: 100%;
}
//變數
$info: #3498db; //口罩足夠
$danger: #e74c3c; //口罩短缺
$secondary: #34495e; //口罩不足
$warning: #f1c40f; //身分證末碼

.navSide {
    width: 350px;
    z-index: 1px;
    transition: all 0.3s;

    .navSide-header {
        background-color: $info;
        padding: 10px 20px;
        position: relative;
        
        .navSide-icon {
            position: absolute;
            bottom: -72px;
            right: -18px;
            font-size: 24px;
            background-color: $info;
            padding: 20px 2px;
            color: #fff;
            border-radius: 0 4px 4px 0;
            a{
                color: $secondary;
            }
        }
        h2 {
            float: left;
        }
        P {
            float: right;
            font-size: 14px;
        }
        small {
            float: right;
            display: none;
        }
        span {
            color: $warning;
            font-size: 20px;
        }
        .navSide-input {
            position: relative;
            margin-top: 10px;
            input {
                width: 100%;
                border-radius: 20px;
                outline: 0;
                border: 0;
                padding: 10px;
            }
            label {
                cursor: pointer;
            }
        }
        .navSide-input i {
            position: absolute;
            right: 12px;
            top: 10px;
            font-size: 20px;
            
        }
        #city{
            border: 0;
            outline: 0;
            padding: 5px 10px;
            border-radius: 20px;
            width: 49%;
            text-align: center;
        }
        #area{
            border: 0;
            outline: 0;
            padding: 5px 10px;
            border-radius: 20px;
            width: 49%;
            text-align: center;
        }
    }
   
    .navSide-body {
        overflow-y: scroll;
        height: 80vh;
        .navSide-item {
            width: 100%;
            padding: 10px 20px;
            border-bottom: 1px solid $secondary;
            p {
                padding: 4px 0;
            }
            .child,.adult {
                width: 45%;
                border: 0;
                border-radius: 30px;
                padding: 4px 0;
                color: white;
                font-weight: bold;
                font-size: 20px;
                outline: 0;
                cursor: pointer;
            }
        }
    }
    
}
.hide {
    width: 0;
    height: 0;
    .navSide-header {
        padding: 0;
        h2 {
            display: none;
        }
    }
    #area{
        display: none;
    }
    #city{
        display: none;
    }
}
