@import "./reset.scss";
* {
    font-family: "Microsoft JhengHei";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    max-width: 100%;
    position: relative;
}
//變數
$info: #3498db; //口罩足夠
$danger: #e74c3c; //口罩短缺
$secondary: #34495e; //口罩不足
$warning: #f1c40f; //身分證末碼
@mixin pad {
    @media (max-width:768px){
        @content
    }
}
@mixin iphoneX {
    @media (max-width:420px) {
        @content
    }
}
.container{
   height: 100vh;
   width: 100%;
   position: relative;
}
.navSide-icon {
    position: absolute;
    top: 130px;
    left: 350px;
    font-size: 24px;
    background-color: $info;
    padding: 20px 2px;
    color: #fff;
    border-radius: 0 4px 4px 0;
    transition: all 0.3s;
    a{
        color: $secondary;
    }
    z-index: 1000;
}
.navSide {
    width: 350px;
    z-index: 1000 ;
    transition: all 0.3s;
    top: 0;
    bottom: 0;
    position: absolute;
    .navSide-header {
        background-color: $info;
        padding: 10px 20px;
        position: relative;
        h2 {
            float: left;
        }
        P {
            float: right;
            font-size: 14px;
        }
        small {
            float: right;
            display: none;
        }
        span {
            color: $warning;
            font-size: 20px;
        }
        .navSide-input {
            position: relative;
            margin-top: 10px;
            input {
                width: 100%;
                border-radius: 20px;
                outline: 0;
                border: 0;
                padding: 10px;
            }
            label {
                cursor: pointer;
            }
        }
        .navSide-input i {
            position: absolute;
            right: 12px;
            top: 10px;
            font-size: 20px;
        }
        #county{
            border: 0;
            outline: 0;
            padding: 5px 10px;
            border-radius: 20px;
            width: 49%;
            text-align: center;
        }
        #town{
            border: 0;
            outline: 0;
            padding: 5px 10px;
            border-radius: 20px;
            width: 49%;
            text-align: center;
        }
    }
    .navSide-body {
        overflow-y: scroll;
        height: 80vh;
        .navSide-item {
            width: 100%;
            padding: 10px 20px;
            border-bottom: 1px solid $secondary;
            background-color: #fff;
            p {
                padding: 4px 0;
            }
            .child,.adult {
                width: 45%;
                border: 0;
                border-radius: 30px;
                padding: 4px 0;
                color: white;
                font-weight: bold;
                font-size: 20px;
                outline: 0;
                cursor: pointer;
            }
        }
    }
}

.hide{
    width: 0;
    overflow: hidden;
}
.reduce{
    left: 0;
    
}

.mapClass{
    max-width: calc( 100% - 350px);
    height: 100%;
    transform: translateX(350px);
    transition: all 0.5s;
}
.zoom{
    max-width: 100%;
    transform: translateX(0);
}
.loader{
    position: absolute;    
    z-index: 2000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#33CCFF;
    .loader-body{
        position: absolute;
        width: 100px;
        height: 100px;
        border: 16px solid #ffffff;
        border-radius: 50%;
        border-top: 16px solid 	#77FFEE;
        animation: loading 1s linear infinite;
    }
}
@keyframes loading{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@include pad{
    .navSide {
        width: 220px;
    }
    .mapClass{
        max-width: calc( 100% - 220px);
        height: 100%;
        transform: translateX(220px);
    }
}
@include iphoneX{
    .navSide {
        width: 150px;
    }
    .mapClass{
        max-width: calc( 100% - 150px);
        height: 100%;
        transform: translateX(150px);
    }
}